ENV="" 				# Provide a value for ENV

ADDRESS="" 				# Provide a value for ADDRESS

MONGODB_URI="" 				# Provide a value for MONGODB_URI
DB_NAME="" 				# Provide a value for DB_NAME

RAZORPAY_API_KEY="" 				# Provide a value for RAZORPAY_API_KEY
RAZORPAY_API_SECRET="" 				# Provide a value for RAZORPAY_API_SECRET
RAZORPAY_WEBHOOK_SECRET="" 				# Provide a value for RAZORPAY_WEBHOOK_SECRET
